
ion-content{
    font-size: 100%;
}

.numbers{
    text-align: center;
    margin-top: 50%;
}

h1{
    font-size: 4em;
}

.buttons{
    text-align: center;
 
    
}
.button{
    margin-top: 20%; 
    width: 70px;
    height: 70px;
    --border-radius: 50%;

}